.container-main {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 600px;
}

div,
.container-weather,
.container-details {
  margin: 10px auto;
  /* 1 = available space on main axis each flex item will take up, e.g. equal amount of space.
   100px = minimum space of each flex item */
  flex: 1 100px;
  padding: 10px;
}

.container-weather {
  background-color: aquamarine;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container-details {
  background-color: aqua;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.forecast {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

.forecast-one,
.forecast-two,
.forecast-three {
  background-color: bisque;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

form {
  display: block;
}

#city-input {
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}

#button {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 15px;
  margin: 10px auto;
}

footer {
  text-align: center;
  margin: 20px;
}

.week-day,
.current-date-details,
#city,
.current-weather-icon,
.current-temperature,
.current-weather-details,
.current-weather-wind,
.current-weather-humidity {
  padding-left: 10px;
}
