.container-main {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 600px;
}

div,
.container-weather,
.container-details {
  margin: 10px auto;
  /* 1 = available space on main axis each flex item will take up, e.g. equal amount of space.
   100px = minimum space of each flex item */
  flex: 1 100px;
  padding: 10px;
}

.container-weather {
  background-color: aquamarine;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container-details {
  background-color: cornflowerblue;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.forecast {
  display: flex;
  padding: 20px 0 0 0;
  border-top: 1px solid;
  border-color: lightblue;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

.forecast-one,
.forecast-two,
.forecast-three {
  background-color: darkcyan;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

#search-form {
  display: block;
  margin: 0px auto;
}

#form-input,
#form-button {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

#form-input {
  width: 300px;
  background-color: aliceblue;
}

#form-button {
  background-color: aquamarine;
}

footer {
  text-align: center;
  margin: 20px;
  color: rgba(0, 0, 0, 0.5);
}

a {
  color: #6495ed;
}

.week-day,
.time,
.current-date-details,
#city,
.current-weather-icon,
.current-temperature,
.current-weather-details,
.current-weather-wind,
.current-weather-humidity {
  padding-left: 10px;
}

h2 {
  display: inline;
}

#current-temperature {
  font-size: 30px;
}

.current-weather-icon {
  height: 90px;
}
